html, body{
    font-family: Roboto;
}
body{
  background-image:url("./assets/background.png");
  background-repeat: repeat;
  min-height:100vh;
}

.root{
  overflow: hidden;
}

.active, .hover, .link, .visited{
  text-decoration: none;
  color: $primaray-color;
}
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &-title h1{
    font-size: 29px;
    font-weight: black;
    font-weight: 900;
    color: $primaray-color;
    @media screen and (min-width: 708px){
      font-size:40px;
    }
  }

  &-search{
    color: $grey-color;
    font-size: 13px;
    input{
        border: none;
        text-align: right;
        border-bottom: 1.5px solid $primaray-color;
    }
    button{
      border: none;
      background: none;
    }
  }

  &-cross{
    width: 10px;
    height: 10px;
    padding-right: 5px;
  }
}

.visible{
  visibility: visible;
}

.hidden{
  visibility: hidden;
}
