$font-stack: Roboto, sans-serif;
$primaray-color: #000000;
$grey-color : #555555;
$orange-color: #FF7F22;
$purple-color: #BE00DD;

.container{
  padding: 0 20px;
  width: 100%;
  @media (min-width: 908px){
    padding: 0 45px;
  }
  &-etage{
    @media (max-width: 708px){
      display: flex;
      flex-direction: column;
    }
    display: flex;
    flex-direction: row;
    &-componentGenre{
      @media (max-width: 708px){
        display: flex;
        flex-direction: column;
      }
      flex:3;
      display: flex;
    }
    &-componentMusicsPerYear{
      @media (max-width: 708px){
        display: flex;
        flex-direction: column;
      }
      flex:3;
      display: flex;
    }
    &-componentArtistRelated{
      @media (max-width: 708px){
        display: flex;
        flex-direction: column;
      }
      flex: 1;
      display: flex;
    }
  }
}

.musicsPerYear, .genre, .artistRelated, .albumsRates{
  background-color: #fff;
  margin: 20px 0;
  padding: 20px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

  h2{
    font-size:16px;
    margin-top:0;
    text-transform: uppercase;
    text-align: right;
    font-weight: 300;
  }
}

.artistInfos{
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  &-name{
    //border: 2px solid green;
    flex:3;
    h1{
      font-size: 36px;
      text-transform: uppercase;
      font-weight:500;
    }
  }

  &-nbMusics{
    @media (max-width: 708px){
      flex:2;
      //border: 2px solid green;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-image: url("./assets/musicNumberBg.svg");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 65%;
      margin-right:-20px;
    }
    flex:2;
    //border: 2px solid green;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("./assets/musicNumberBg.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 35%;
    margin-right:-20px;
    &-number{
      @media (max-width: 708px){
        font-size: 24px;
        font-weight:700;
      }
      font-size: 24px;
      font-weight:700;
    }

    &-music{
      @media (max-width: 708px){
        font-size: 12px;
        font-weight: 300;
      }
      font-size: 12px;
      font-weight: 300;
    }
  }
  }
