$font-stack: Roboto, sans-serif;
$primaray-color: #000000;
$grey-color : #555555;

.home{
  padding: 0 20px;
  font-family: $font-stack;
  background-image:url("./assets/background.png");
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height:100vh;
  overflow: hidden;

  &-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &-title h1{
      font-size: 29px;
      font-weight: black;
    }

    &-search{
      color: $grey-color;
      font-size: 13px;
      border-bottom: 1.5px solid #000;
      input{
          border: none;
          text-align: right;
      }
      button{
        border: none;
        background: none;
      }
    }
  }

  &-subtitle{
    font-size: 29px;
    font-weight: 500;
    margin-bottom: 40px;
  }

  &-topHolder{
    display: flex;
    margin-left: -40%;
    margin-right: -40%;
  }

  &-top{
    border-radius: 50%;
    width:140%;
    height:140vw;
    overflow:hidden;
    text-align:center;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &-item{
      font-size: 29px;
      margin-top: 20px;
      margin-bottom: 20px;

      &-value, &-likes{
        font-weight: 400;
        display: flex;
        flex-direction: row;
        justify-content: center;

        &-number{
          margin-right: 10px;
          font-weight: bold;
        }
        &-icon{
            margin-right: 10px;
        }
      }

      &-likes{
        margin-top: 10px;

        &-score{
          //font-size: 22px;
          //margin-top : 5px;
        }
      }
    }
  }
}

h1 {
  font-weight: 900;
}
