.musicsPerYear {
  @media (max-width: 708px){
  }
  width: 100%;
  padding: 0 20px;
  &-bar{
    @media (max-width: 708px){
      height:25vh;
      width:100%;
      transition: 0.3s;
    }
      display: flex;
      flex: 3;
      height:25vh;

      transition: 0.3s;
  }
}
